:root {
  --bg: #020617;
  --text: #e5e7eb;
}

html {
  background-color: var(--bg);
}

body {
  margin: 0;
  block-size: 100dvh;
  box-sizing: border-box;
  overflow: hidden;

  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);

  background: radial-gradient(circle at top, #020617, #020617 60%);
  color: var(--text);

  display: flex;
  justify-content: center;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  inline-size: min(92vw, 360px);
  block-size: 100%;
  container-type: inline-size;
}

.app-bottom-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
}